@model List<EscolaPequenosGenios.IoC.DTOs.ResponseSecretariaDTO>
@{
    ViewData["Title"] = "Histórico";
    var jsonData = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<div class="config-paragrafo">
    <p class="config-paragrafo__paragrafo">Histórico do aluno</p>
</div>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Ra</th>
            <th scope="col">Curso</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Serie</th>
            <th scope="col">Nota</th>
            <th scope="col">Frequência</th>
            <th scope="col">Situação</th>
            <th scope="col">Data de inserção</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (EscolaPequenosGenios.IoC.DTOs.ResponseSecretariaDTO historico in Model)
            {

                <tr class="texto-dados-historico">
                    <td>@historico.Ra</td>
                    <td>@historico.NomeDoCurso</td>
                    <td>@historico.NomeDaDisciplina</td>
                    <td>@historico.Serie</td>
                    <td>@historico.Nota</td>
                    <td>@historico.Frequencia</td>
                    <td>@historico.Situacao</td>
                    <td>@historico.DataDeInsercao</td>
                </tr>
            }

        }
    </tbody>
</table>

<div class="espaco-botoes">
    <div class="botao-voltar">
        <p class="labelFormulario">Voltar</p>
        <a class="secretaria__botoes__fonte" href="@Url.Action("Secretaria", "Secretaria", new { ra = @ViewBag.Ra })">
            <img src="/images/SetaVoltar.png" alt="Voltar">
        </a>
    </div>
    <div class="botao-proximo">
        <p class="labelFormulario" style="color: #00AFF0">Exportar</p>
        <a href="@Url.Action("ExportToPdf", "Secretaria")?jsonData=@Html.Raw(System.Web.HttpUtility.UrlEncode(jsonData))">
            <img src="/images/LogoPdf.png" alt="Imagem Extracurricular">
        </a>
    </div>
</div>


