@model EscolaPequenosGenios.IoC.DTOs.ResponseSecretariaDTO
@{
    ViewData["Title"] = "Scretaria";
}
<div class="secretaria__ajusteBotoesTop">
    <div class="secretaria__botoes">
        <section>
            <a href="@Url.Action("DadosDoAlunoInfo", "Secretaria", new { ra = Model.Ra })">
                <img src="/images/DadosDoAlunoImg.png" alt="Imagem do botão Dados Do Aluno">
            </a>
            <div class="secretaria__botoes__fonte">
                Dados do Aluno
            </div>
        </section>
    </div>
    <div class="secretaria__botoes">
        <section>
            <a href="@Url.Action("DadosDoResponsavelInfo", "Secretaria", new { ra = Model.Ra })">
                <img src="/images/FiliacaoImg.png" alt="Imagem do botão Filiação">
            </a>
            <div class="secretaria__botoes__fonte">
                Responsável
            </div>
        </section>
    </div>

    <div class="secretaria__botoes">
        <section>
            <a href="@Url.Action("DadosDaMatriculaInfo", "Secretaria", new { ra = Model.Ra })">
                <img src="/images/MatriculaImg.png" alt="Imagem do botão Matrícula">
            </a>
            <div class="secretaria__botoes__fonte">
                Matrícula
            </div>
        </section>
    </div>
</div>

<div class="secretaria__ajusteBotoesTop">
    <div class="secretaria__botoes">
        <section>
            <a href="@Url.Action("DadosDaMatriculaExtracurricularInfo", "Secretaria", new { ra = Model.Ra })">
                <img src="/images/ProgramacaLogo.png" alt="Imagem do botão Programação">
            </a>
            <div class="secretaria__botoes__fonte">
                Curso Extracurricular
            </div>
        </section>
    </div>
    <div class="secretaria__botoes">
        <section>
            <a href="@Url.Action("ObterHistoricoDoAluno", "Secretaria", new { ra = Model.Ra })">
                <img src="/images/HistoricoImg.png" alt="Imagem do botão Histórico">
            </a>
            <div class="secretaria__botoes__fonte">
                Histórico
            </div>
        </section>
    </div>
</div>

@*    <div class="secretaria__ajusteBotoesTop">

        <div class="secretaria__botoes">
            <section>
                <img src="/images/FiliacaoImg.png" alt="Imagem do botão Filiação">
                <div class="secretaria__botoes__fonte">
                    <a>Filiação</a>
                </div>
            </section>
        </div>

    </div>
    <div class="secretaria__ajusteBotoesTop">
        <div class="secretaria__botoes">
            <section>
                <img src="/images/HistoricoImg.png" alt="Imagem do botão Histórico">
                <div class="secretaria__botoes__fonte">
                    <a>Histórico</a>
                </div>
            </section>
        </div>

        <div class="secretaria__botoes">
            <section>
                <img src="/images/CertificadodeconclusaoImg.png" alt="Imagem do botão Certificado">
                <div class="secretaria__botoes__fonte">
                    <a>Certificado</a>
                </div>
            </section>
        </div>
    </div>*@

@*<a class="fonteEstilo" style="color:#61e627">Filiacao</a>
<a class="fonteEstilo" style="color:#61e627">Matrícula</a>
<a class="fonteEstilo" style="color:#61e627">Histórico</a>
<a class="fonteEstilo" style="color:#61e627">Boletim</a>
<a class="fonteEstilo" style="color:#61e627">Atestado de Conclusão</a>*@

